nav:
  - Home: index.md
  - Primeiros passos: primeiros_passos.md 
  - Plataformas Científicas: 
      - Plataformas Científicas: sci-platforms/index.md #intro e LSP landing page
      - JupyterHub: sci-platforms/jupyter.md
      - Science Server: sci-platforms/sci_server.md
      - User Query: sci-platforms/user_query.md
      - DES Science Portal: sci-platforms/des.md
      - Solar System Portal: sci-platforms/tno.md
      - MaNGA Portal: sci-platforms/manga.md 
  - Processamento:
      - Processamento: processamento/index.md
      - Cluster Apollo (LIneA): processamento/apollo.md
      - Santos Dumont (LNCC): processamento/sdu.md
  - Armazenamento: 
      - Armazenamento: armazenamento/index.md
 #     - Lustre: armazenamento/lustre.md   
  - Dados:
      - Dados: data/index.md
      - DES: data/des.md
      - LSST: data/lsst.md      
  - Políticas: 'politicas.md'
  #- Photoz Server: 'photozserver.md'
  #- Armazenamento: 'armazenamento.md'
  #- Monitoramento: 'monitoramento.md'
  - Glossário: 'glossario.md'
  - Suporte: 'suporte.md'
  #- FAQ: 'faq.md'
  #- Mkdocs Exemplos: 'exemplos/exemplos.md' #provisorio
  


# Site information
site_name:  Documentação para Usuários
site_author: LIneA team 
site_url: "http://docs.linea.org.br"
repo_name: linea-it/docs
repo_url: https://github.com/linea-it/docs
edit_uri: 'edit/dev/docs'
use_directory_urls: false
copyright: 'Copyright &copy; 2006 - 2022 LIneA'
# cosmo, material-components, cerulean, journal, slate, readthedocs, readable, spacelab, united, bootstrap, simplex, flatly, yeti, psinder, amelia, cyborg, unidata, mkdocs


# Configuration
theme:
  name: material
  custom_dir: linea-theme
  logo: 'images/linea.png'
  favicon: 'images/linea_favicon.png'
  font:
    text: Roboto, Arial
  features:
    - navigation.indexes

  palette:
      # Palette toggle for light mode
  - scheme: default
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
    primary: 'blue'
    accent: 'deep orange'

  # Palette toggle for dark mode
  - scheme: slate
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode
    primary: 'grey'
    accent: 'deep orange'

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: material/home-circle
      link: https://www.linea.org.br
    - icon: fontawesome/brands/github
      link: https://github.com/linea-it
    - icon: material/twitter
      link: https://twitter.com/linea_org
    - icon: material/instagram
      link: https://instagram.com/linea_org
    - icon: material/facebook
      link: https://facebook.com/linea.org
    - icon: material/youtube
      link: https://youtube.com/@linea_org

# Extensions
markdown_extensions:
  - attr_list
  - meta
  - footnotes
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols:
      fractions: false
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.snippets
  
