awesome-slugify==1.6.5
backports-abc==0.5
backports.ssl-match-hostname==3.7.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
idna==2.8
Jinja2==2.10
livereload==2.6.0
Markdown==3.0.1
markdown-include==0.5.1
MarkupSafe==1.1.1
mkdocs==0.16.3
mkdocs-bootstrap==0.2.0
mkdocs-extensions==0.1.2
mkdocs-material-components==1.10.11
mkdocs-rtd-dropdown==1.0.2
Pygments==2.3.1
pymdown-extensions==6.0
PyYAML==5.1
regex==2019.3.12
requests==2.21.0
singledispatch==3.4.0.3
six==1.12.0
tornado==4.5.3
Unidecode==0.4.21
urllib3==1.24.1
