.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}

:root>* {
  --md-primary-fg-color: #283663;
  --md-primary-fg-color--light: #283663;
  --md-primary-fg-color--dark: #868786;
}

a.md-logo>img {
  transform: scale(1.7)
}